@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Righteous&display=swap");
nav {
  position: fixed;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-right: 50px;
  background-color: #061837;
  z-index: 100;
  border-bottom: 1px #37485F solid;
}
nav a {
  text-decoration: none;
  color: #DBDCD7;
  font-family: "Kanit", sans-serif;
  transition: 0.5s;
}
nav a:hover {
  opacity: 0.7;
}

.navLinks {
  display: flex;
  gap: 20px;
}
.navLinks a {
  text-decoration: none;
  color: #DBDCD7;
  font-family: "Kanit", sans-serif;
  transition: 0.5s;
}
.navLinks a:hover {
  opacity: 0.7;
}

@media (max-width: 440px) {
  nav {
    padding: 0px 20px;
  }
  .navLinks a {
    font-size: 14px;
  }
}
.svgBackground {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #061837;
  background-image: linear-gradient(to bottom, #061837, rgba(14, 65, 102, 0.8588235294));
}

.firstSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 100vh;
}

.name {
  display: flex;
  flex-direction: column;
}
.name h1 {
  font-family: "Dela Gothic One", system-ui;
  font-size: 80px;
  font-weight: 100;
  color: #ffffff;
  opacity: 0.6;
  line-height: 1;
}
.name div {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.name div h2 {
  font-family: "Dela Gothic One", system-ui;
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
  opacity: 0.6;
  line-height: 1;
}
.name div img {
  width: 30px;
  height: auto;
  opacity: 0.6;
}

.social {
  position: absolute;
  bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social .download {
  background-color: rgba(17, 71, 109, 0.7137254902);
  padding: 5px 10px;
  border-radius: 5px;
}
.social a {
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  color: #DBDCD7;
  display: flex;
  align-items: center;
}
.social a svg {
  width: 27px;
  fill: #DBDCD7;
}

#about {
  display: grid;
  padding: 7vw;
  grid-template-columns: 60% 40%;
  gap: 80px;
}
#about h2 {
  font-family: "Kanit", sans-serif;
  color: #DBDCD7;
  font-size: 35px;
}
#about h2 span {
  color: #4099AE;
  font-family: "Dela Gothic One", system-ui;
}
#about p {
  color: #DBDCD7;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-size: 20px;
}
#about p span {
  color: #7ec2d1;
}

#skills {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}
#skills h2 {
  font-size: 18px;
  font-weight: 400;
}

.skillCard {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background-color: #092d47;
  margin-bottom: 5px;
}
.skillCard img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.skillCard h3 {
  color: #DBDCD7;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  margin: 0;
  display: inline-block;
}

#projects {
  overflow: hidden;
  padding: 50px;
  min-height: 50vh;
  background-color: #061838;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#projects h2 {
  font-family: "Kanit", sans-serif;
  color: #DBDCD7;
  font-size: 35px;
}
#projects h2 span {
  color: #4099AE;
  font-family: "Dela Gothic One", system-ui;
}

.projectCard {
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  width: 70vw;
  height: auto;
  background-color: #071533;
  box-shadow: 1px 1px 1px #1A475F;
}
.projectCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projectCard div {
  padding: 20px;
}
.projectCard div h3 {
  font-family: "Kanit", sans-serif;
  color: #DBDCD7;
  font-size: 25px;
  font-weight: 500;
}
.projectCard div h3 span {
  color: #4099AE;
  font-family: "Dela Gothic One", system-ui;
}
.projectCard div p {
  color: #DBDCD7;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}
.projectCard div a {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: #092d47;
  font-family: "Kanit", sans-serif;
  border-radius: 30%;
  padding: 2px;
  color: #fafafa;
  text-decoration: none;
  font-size: 13px;
}
.projectCard div a img {
  padding: 2px;
  width: 20px;
}
.projectCard div div {
  display: flex;
  gap: 5px;
  padding: 0;
  margin-top: 10px;
}

#skillCardMini {
  display: flex;
  align-items: center;
  background-color: #092d47;
  padding: 4px;
  gap: 5px;
}
#skillCardMini h4 {
  color: #DBDCD7;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#skillCardMini img {
  width: 20px;
  height: 20px;
}

.invert {
  box-shadow: -1px 1px 1px #1A475F;
  grid-template-columns: 55% 45%;
}
.invert div {
  order: 1;
}
.invert .imageProject {
  order: 2;
}

#contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  min-height: 50vh;
  padding: 7vw;
}
#contacto h2 {
  font-family: "Kanit", sans-serif;
  color: #DBDCD7;
  font-size: 35px;
}
#contacto h2 span {
  color: #4099AE;
  font-family: "Dela Gothic One", system-ui;
}
#contacto h3 {
  font-family: "Kanit", sans-serif;
  color: #DBDCD7;
  font-weight: 300;
}
#contacto h3 a {
  font-family: "Kanit", sans-serif;
  color: #DBDCD7;
}
#contacto h4 {
  font-family: "Dela Gothic One", system-ui;
  color: rgba(148, 185, 212, 0.4039215686);
  font-size: 50px;
  line-height: 1;
  font-weight: 500;
}
#contacto h5 {
  font-family: "Dela Gothic One", system-ui;
  color: rgba(148, 185, 212, 0.4039215686);
  font-weight: 500;
  font-size: 30px;
}

@media (max-width: 1024px) {
  #contacto h4 {
    font-size: 40px;
  }
  #contacto h5 {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .name h1 {
    font-size: 50px;
  }
  .name div h2 {
    font-size: 20px;
  }
  .name div img {
    width: 25px;
  }
  #about {
    gap: 40px;
    padding: 60px;
  }
  #about p {
    font-size: 18px;
  }
  #skills {
    grid-template-columns: 100%;
  }
  .projectCard {
    width: 85vw;
  }
  .projectCard div {
    padding: 4px 10px;
    margin-top: 0px;
  }
  .projectCard div h3 {
    font-size: 20px;
  }
  .projectCard div p {
    font-size: 13px;
  }
  .projectCard div a {
    margin-top: 0px;
  }
  .projectCard div div {
    margin-top: 3px;
  }
  #skillCardMini h4 {
    font-size: 10px;
  }
  #skillCardMini img {
    width: 15px;
    height: 15px;
  }
  #contacto {
    padding: 60px;
  }
  #contacto h2 {
    font-size: 40px;
  }
  #contacto h3 {
    font-size: 15px;
  }
  #contacto h4 {
    font-size: 30px;
  }
  #contacto h5 {
    font-size: 15px;
  }
}
@media (max-width: 440px) {
  .name h1 {
    font-size: 35px;
  }
  .name div h2 {
    font-size: 14px;
  }
  .name div img {
    width: 15px;
  }
  #about {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  #projects {
    padding: 50px 0px;
  }
  .projectCard {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .projectCard div {
    padding: 2px 5px;
    margin-left: 10px;
  }
  .projectCard div h3 {
    font-size: 20px;
  }
  .projectCard div p {
    font-size: 13px;
  }
  .projectCard div p span {
    display: none;
  }
  .projectCard div a {
    margin-top: 5px;
  }
  .projectCard div a img {
    padding: 1px;
    width: 20px;
  }
  .projectCard div div {
    gap: 5px;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 10px;
  }
  #skillCardMini {
    padding: 4px;
  }
  #skillCardMini h4 {
    font-size: 10px;
  }
  #skillCardMini img {
    width: 15px;
    height: 15px;
  }
  .invert img {
    order: 1;
  }
  .invert div {
    order: 2;
  }
  #contacto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #contacto h2 {
    font-size: 40px;
  }
  #contacto h3 {
    font-size: 15px;
  }
  #contacto h4 {
    font-size: 30px;
  }
  #contacto h5 {
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: #081427;
}

p {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
