@media (max-width: 1024px) {
    .infoMe {
        p {
            font-size: 20px;
        }
    }



    .proyecto {
        .images {
            img {
                height: 200px;
            }

        }
        
        .infoProyecto {
            h3 {
                font-size: 35px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .name {
        h1 {
            font-size: 50px;
        }
        div {
            h2 {
                font-size: 15px;
            }
            img {
                width: 20px;
            }
        }
    }

    .infoMe {
        p {
            font-size: 17px;
        }
        .skills {
            font-size: 14px;
        }
    }

    .proyecto {

        .images {
            img {
                height: 140px;
            }

        }

        .infoProyecto {
            h3 {
                font-size: 30px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 670px) {
    .aboutMe {
        gap: 30px;
        padding: 30px;
        height: 100%;
        flex-direction: column;
        img {
            width: 200px;
        }
    }

    .infoMe {
        p {
            font-size: 20px;
        }
    }

    .proyecto {
        flex-direction: column;
        width: 80vw;
        .images {
            order: 2;
            img {
                height: 22vh;
            }
        }
        .infoProyecto {
            h3 {
                font-size: 35px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}