nav {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #0E4166;
    p {
        font-family: $font1;
        color: $blanco1;
    }
}

.navLinks {
    display: flex;
    gap: 20px;
    a {
        text-decoration: none;
        color: $blanco1;
        font-family: $font1;
    }
}