nav {
    position: fixed;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 50px;
    background-color: #061837;
    z-index: 100;
    border-bottom: 1px #37485F solid;
    a {
        text-decoration: none;
        color: $blanco1;
        font-family: $font1;
        transition: .5s;
        &:hover {
            opacity: .7;
        }
    }
}

.navLinks {
    display: flex;
    gap: 20px;
    a {
        text-decoration: none;
        color: $blanco1;
        font-family: $font1;
        transition: .5s;
        &:hover {
            opacity: .7;
        }
    }
}

@media (max-width: 440px) {
    nav {
        padding: 0px 20px; 
    }
    .navLinks {
        a {
            font-size: 14px;
        }
    }
}